.App {
	text-align: center;
	background-color: #00ffff;
	/* background-image: url('./vaccine-5895477_1920.jpg'); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}
h1 {
	color: darkblue;
}
